.resume {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profilePic {
  margin-bottom: 1rem;
  text-align: right;
}

.timeline-wrapper {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#lineVert {
  border: 2px solid black;
  height: 650px;
  background-color: wheat;
}

.employment {
  padding-right: 1rem;
}

.education {
  padding-left: 1rem;
  width: 6.25rem;
}
