.resume {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

#profilePic {
  margin-bottom: 1rem;
  text-align: right;
}

.timeline-wrapper {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#lineVert {
  border: 2px solid black;
  height: 650px;
  background-color: wheat;
}

.employment {
  padding-right: 1rem;
}

.education {
  padding-left: 1rem;
}

/* .milestone {
  width: 20px;
  height: 20px;
  border: 4px solid orange;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 1;
  right: 85px;
}

.milestone.first {
  top: 100px;
}

.milestone.second {
  top: 200px;
}

.milestone.third {
  top: 300px;
}

.milestone.fourth {
  top: 400px;
}

.milestone.fifth {
  top: 500px;
}

.milestone.sixth {
  top: 600px;
} */
