.projectButton {
  width: 15%;
  height: 5.86%;
  box-shadow: 2px 1px black;
  transition: 0.3s ease;
}

.projectButton:hover {
  width: 75%;
  background-color: green;
}

#projectName {
  color: unset;
  text-decoration: none;
}

#arrow {
  color: wheat;
  text-align: center;
  /* padding-top: 0.1em; */
  opacity: 0.5;
  text-shadow: 2px 2px 8px black;
}

#button {
  background-color: unset;
  width: 100%;
  height: 100%;
}
