.milestone {
  width: 20px;
  height: 20px;
  border: 4px solid rgb(236, 188, 53);
  border-radius: 50%;
  background-color: rgb(236, 188, 53);
  position: absolute;
  z-index: 1;
  right: 85px;
}

.milestone.first {
  top: 100px;
}

.milestone.second {
  top: 150px;
}

.milestone.third {
  top: 200px;
}

.milestone.fourth {
  top: 250px;
}

.milestone.fifth {
  top: 300px;
}

.milestone.sixth {
  top: 400px;
}

.milestone.seventh {
  top: 450px;
}

.milestone.eight {
  top: 500px;
}
