.milestone {
  width: 20px;
  height: 20px;
  border: 4px solid orange;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 1;
  right: 85px;
}

.milestone.first {
  top: 125px;
}

.milestone.second {
  top: 225px;
}

.milestone.third {
  top: 325px;
}

.milestone.fourth {
  top: 425px;
}

.milestone.fifth {
  top: 525px;
}

.milestone.sixth {
  top: 625px;
}
