.sideNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: goldenrod;
  transition: 1s ease;
}

.navLinks {
  padding-bottom: 1rem;
}

.navLinks a {
  text-decoration: none;
  color: black;
}

.navLinks a:hover {
  color: grey;
}

.navLinks h4 {
  padding-bottom: 1rem;
}

#logo {
  padding-top: 1rem;
}

#worldButton {
  background-color: unset;
  border: none;
  outline: none;
}

#navToggler {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
  position: relative;
  outline: none;
}

#navToggler:hover {
  color: wheat;
}
